page-comparative-chart {

    ion-content {
        background: #fcfdfc !important;
    }

    canvas {
        height: 100px;
        width: 85% !important;
        margin: 0px 10px;
    }
     .chart-container {
        width: 100%;
        text-align: center;
        margin-top: 50px;
     }
     .chart-card {
        display         : inline-block;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 45% !important;
        height: 100px;
        padding: 5px 0px;
        margin: 5px;
        background-color: white;
        border-radius: 5%;
     
    }
     .params-card {
        display         : inline-block;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 45% !important;
        height: 100px;
        padding: 5px 0px;
        margin: 5px;
        background-color: black;
        border-radius: 5%;
    }
    .chart-card p{
        margin: 0;
    }
    
    .chart-card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }


     .city-header{
        position  : relative;
        text-align: center;
        max-width    : 100%;
      
      }

     .about-header {
        width     : 100%;
        min-height: 120px;
      }
      .about-header img {
        width     : 100%;
        height: 180px;
        object-fit: cover;
      }
    
      .info-card {
          width        : 80%;
          height       : 120px;
          position     : absolute;
          bottom       : -25%;
          left         : 0; 
          right        : 0; 
          margin-left  : auto; 
          margin-right : auto;
          border-radius: 5% !important;
          background   : linear-gradient(to bottom, rgba(255,255,255,0.5) 30% ,rgba(255,255,255,1) 70%);
      }

      .card-title {
        font-size  : 2.0em;
        width      : 100%;
        font-weight: bold;
        //color      : #6A6B6A;
      }
      
      .about-info{
          margin-top: 40px;
      }
      .about-info p {
        color: #697072;
        text-align: left;
      }
      
      .about-info ion-icon {
        color: #6A6B6A;
        width: 30px;
       
      }

      .card-pollution-info span {
        display: inline-block;
        width: 30%;

     }

     .card-pollution-info {
        margin-top: 20px;
     }
    .circle-button{
       display         : inline-block;
       height          : 50px;
       width           : 50px;
       border-radius   : 50%;
       background-color: white;
       margin-left     : 4%;

    }
    
}

ion-modal.inset-modal {
    // transparent black background overlay
    background-color: rgba(0, 0, 0, 0.5) !important;
    transition: opacity .25s ease-in-out;
    padding: 27vh 10vw;
    }
