page-list-city {
  ion-content {
    margin-left: auto;
    margin-right: auto;

    .card-overlay-first {
      position     : relative;
      max-width    : 100%;
      max-height   : 30%;
   
      .card-title {
        position   : absolute;
        top        : 60%;
        left       : 5%;
        font-size  : 2.0em;
        width      : 100%;
        font-weight: bold;
        color      : #fff;
      }
    
      .card-subtitle {
        font-size: 1.0em;
        position : absolute;
        top      : 80%;
        left     : 5%;
        width    : 100%;
        color    : #fff;
      }
    
      .card-aqi {
        font-size: 2.0em;
        position : absolute;
        top      : 10%;
        left     : 5%;
        width    : 100%;
        color    : #fff;
      }
    }

    .card-overlay-first:before {
      content   : "";
      position  : absolute;
      left      : 0; right : 0;
      top       : 0; bottom: 0;
      background: rgba(0,0,0,.35);
    }

    .card-overlay {
      position     : relative;
      display: inline-block;
      max-width    : 43%;
      max-height   : 82px;

      .card-title {
        position   : absolute;
        top        : 60%;
        left       : 5%;
        font-size  : 1.0em;
        width      : 100%;
        font-weight: bold;
        color      : #fff;
      }
    
      .card-subtitle {
        font-size: 0.7em;
        position : absolute;
        top      : 80%;
        left     : 5%;
        width    : 100%;
        color    : #fff;
      }

      .card-aqi {
        font-size: 1.0em;
        position : absolute;
        top      : 10%;
        left     : 5%;
        width    : 100%;
        color    : #fff;
      }
    }

    .card-overlay:before {
          content   : "";
          position  : absolute;
          left      : 0; right : 0;
          top       : 0; bottom: 0;
          background: rgba(0,0,0,.35);
    }
    
     
  }
}