<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{'settings' | translate:user }}</ion-title>
     </ion-navbar>    
    <ion-segment [(ngModel)]="activeSegment">
        <ion-segment-button value="Clear_SKY_1_0">
          ClearSKY 1.0
        </ion-segment-button>
        <ion-segment-button value="Clear_SKY_2_0">
          ClearSKY 2.0
        </ion-segment-button>
      </ion-segment>
 

</ion-header>

<ion-content padding>
    <div [ngSwitch]="activeSegment">
  <ion-list *ngSwitchCase="'Clear_SKY_1_0'" >
  <ion-list>
    <ion-list-header>
      {{'frequency' | translate:user }}
      <ion-badge item-end>{{settings.frequency }} {{'measures' | translate:user }}/min</ion-badge>
    </ion-list-header>
    <ion-item>
      {{settings.freq}}
      <ion-range min="0" max="30" [(ngModel)]="settings.frequency">
        <ion-label range-left>0</ion-label>
        <ion-label range-right>30</ion-label>
      </ion-range>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>{{'sensors' | translate:user }}</ion-list-header>
    <ion-item *ngFor="let sensor of settings.sensors">
      <button ion-button item-end color="danger" icon-only (click)="removeSensor(sensor)">
        <ion-icon name='remove-circle'></ion-icon>
      </button>
      <ion-label>{{sensor}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="{{ 'newSensor' | translate:user }}" [(ngModel)]="tempInputSensor" (keyup.enter)="addSensor()"></ion-input>
      <button ion-button item-end color="primary" icon-only (keyup.enter)="addSensor()" (click)="addSensor()">
        <ion-icon name='add-circle'></ion-icon>
      </button>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header >
      Raspberry Pi
    </ion-list-header>
    <ion-item >
      <ion-label>{{'ipAddress' | translate:user }}</ion-label>
      <ion-input type="text" [(ngModel)]="raspi.ip"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{'port' | translate:user }}</ion-label>
      <ion-input type="number" [(ngModel)]="raspi.port"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header >
      {{'server' | translate:user }}
    </ion-list-header>
    <ion-item >
      <ion-label>{{'ipAddress' | translate:user }}</ion-label>
      <ion-input type="text" [(ngModel)]="settings.serverAddress.ip"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{'port' | translate:user }}</ion-label>
      <ion-input type="number"  [(ngModel)]="settings.serverAddress.port"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Share your data</ion-label>
      <ion-checkbox [(ngModel)]="settings.isDataShared" item-end item-end (keyup.enter)="setPositionCheckboxValue()" (click)="setPositionCheckboxValue()"></ion-checkbox>

    </ion-list-header>
    <ion-item *ngIf="settings.isDataShared">
      <ion-label>{{ 'position' | translate:user }}</ion-label>
      <ion-checkbox [(ngModel)]="isPositionShared" item-end (keyup.enter)="getPosition()" (click)="getPosition()"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-row>

  </ion-row>
  <div float-right padding-left>
    <button ion-button block (click)="doConfirm()">{{'submit' | translate:user }}</button>
  </div>
  <div float-right>
    <button ion-button block (click)="ionViewDidLoad()">{{'reset' | translate:user }}</button>

  </div>
</ion-list>





</div>
    <div [ngSwitch]="activeSegment">
        <ion-list *ngSwitchCase="'Clear_SKY_2_0'" >
            <button ion-button  (click)="catchPosition()" > Recup position</button>
            <ion-label>{{latitude}}</ion-label> 
            <ion-label>{{longitude}}</ion-label> 
            
            <ion-buttons end> <button ion-button end (click)="GotoBluethooth()">
          <ion-icon name="bluetooth"></ion-icon>
            </button> </ion-buttons>
            <ion-list>
                <ion-list-header>
                  {{'frequency' | translate:user }}
                  <ion-badge item-end>{{Sendfrequency}} {{'measures' | translate:user }}/Jours</ion-badge>
                </ion-list-header>
                <ion-item>
                  {{Sendfrequency}
                  <ion-range min="1" max="140"   [(ngModel)]="Sendfrequency" (ionChange)="catchfrequency()" debounce="500" >
                    <ion-label range-left>0</ion-label>
                    <ion-label range-right>140</ion-label>
                  </ion-range>
                </ion-item>

                <ion-item>
                  
                  <ion-label>PMS1_0 [{{knobValuesPMS1_0.lower}}-{{knobValuesPMS1_0.upper}}]</ion-label>
                  <ion-range dualKnobs="true" [(ngModel)]="knobValuesPMS1_0" min="0" max="300"  >
                    <ion-label range-left>0</ion-label>
                    <ion-label range-right>300</ion-label>
                  </ion-range>
                </ion-item>
                
                <ion-item>
                        <ion-label>PMS2_5 [{{knobValuesPMS2_5.lower}}-{{knobValuesPMS2_5.upper}}]</ion-label>
                        <ion-range dualKnobs="true" [(ngModel)]="knobValuesPMS2_5" min="0" max="300"  >
                          <ion-label range-left>0</ion-label>
                          <ion-label range-right>300</ion-label>
                        </ion-range>
                      </ion-item>
                 
                  <ion-item>
                          <ion-label>GAZPPM [{{knobValuesGAZPPM.lower}}-{{knobValuesGAZPPM.upper}}]</ion-label>
                          <ion-range dualKnobs="true" [(ngModel)]="knobValuesGAZPPM" min="1" max="1000"  >
                            <ion-label range-left>1</ion-label>
                            <ion-label range-right>1100</ion-label>
                          </ion-range>
                  </ion-item>

                  <ion-item>
                      <ion-label>Temperature [{{knobValuesTemperature.lower}}-{{knobValuesTemperature.upper}}]</ion-label>
                      <ion-range dualKnobs="true" [(ngModel)]="knobValuesTemperature" min="-40" max="80"  >
                        <ion-label range-left>-40</ion-label>
                        <ion-label range-right>80</ion-label>
                      </ion-range>
                    </ion-item>
                    
                    <ion-item>
                            <ion-label>Humidity [{{knobValuesHumidity.lower}}-{{knobValuesHumidity.upper}}]</ion-label>
                            <ion-range dualKnobs="true" [(ngModel)]="knobValuesHumidity" min="0" max="100"  >
                              <ion-label range-left>0</ion-label>
                              <ion-label range-right>100</ion-label>
                            </ion-range>
                          </ion-item>
                     
                      <ion-item>
                              <ion-label>Micro [{{knobValuesMicro.lower}}-{{knobValuesMicro.upper}}]</ion-label>
                              <ion-range dualKnobs="true" [(ngModel)]="knobValuesMicro" min="0" max="3.3"  >
                                <ion-label range-left>0</ion-label>
                                <ion-label range-right>3.3</ion-label>
                              </ion-range>
                      </ion-item>

                      <ion-item>
                          <ion-label>Altitude [{{knobValuesAlti.lower}}-{{knobValuesAlti.upper}}]</ion-label>
                          <ion-range dualKnobs="true" [(ngModel)]="knobValuesAlti" min="300" max="1100"  >
                            <ion-label range-left>300</ion-label>
                            <ion-label range-right>1100</ion-label>
                          </ion-range>
                        </ion-item>
                        
                        <ion-item>
                                <ion-label>Pressure [{{knobValuesPressure.lower}}-{{knobValuesPressure.upper}}]</ion-label>
                                <ion-range dualKnobs="true" [(ngModel)]="knobValuesPressure" min="300" max="1100"  >
                                  <ion-label range-left>300</ion-label>
                                  <ion-label range-right>1100</ion-label>
                                </ion-range>
                              </ion-item>
                         
                          <ion-item>
                                  <ion-label>Battery [{{knobValuesBattery.lower}}-{{knobValuesBattery.upper}}]</ion-label>
                                  <ion-range dualKnobs="true" [(ngModel)]="knobValuesBattery" min="0" max="100"  >
                                    <ion-label range-left>0</ion-label>
                                    <ion-label range-right>100%</ion-label>
                                  </ion-range>
                          </ion-item>
                                             
            

                <button ion-button end (click)="goData(knobValuesPMS1_0,knobValuesPMS2_5,knobValuesGAZPPM,knobValuesTemperature,
                knobValuesHumidity,knobValuesMicro,knobValuesPressure,knobValuesAlti,knobValuesBattery)">
                    Save setting
                       </button>
                      

                       
              </ion-list>

          </ion-list>


          </div>

</ion-content>