<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{'settings' | translate:user }}</ion-title>
     </ion-navbar>    
    <ion-segment [(ngModel)]="activeSegment">
        <ion-segment-button value="Clear_SKY_1_0">
          ClearSKY 1.0
        </ion-segment-button>
        <ion-segment-button value="Clear_SKY_2_0">
          ClearSKY 2.0
        </ion-segment-button>
      </ion-segment>
 

</ion-header>

<ion-content padding>
    <div [ngSwitch]="activeSegment">
  <ion-list *ngSwitchCase="'Clear_SKY_1_0'" >
  <ion-list>
    <ion-list-header>
      {{'frequency' | translate:user }}
      <ion-badge item-end>{{settings.frequency }} {{'measures' | translate:user }}/min</ion-badge>
    </ion-list-header>
    <ion-item>
      {{settings.freq}}
      <ion-range min="0" max="30" [(ngModel)]="settings.frequency">
        <ion-label range-left>0</ion-label>
        <ion-label range-right>30</ion-label>
      </ion-range>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>{{'sensors' | translate:user }}</ion-list-header>
    <ion-item *ngFor="let sensor of settings.sensors">
      <button ion-button item-end color="danger" icon-only (click)="removeSensor(sensor)">
        <ion-icon name='remove-circle'></ion-icon>
      </button>
      <ion-label>{{sensor}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="{{ 'newSensor' | translate:user }}" [(ngModel)]="tempInputSensor" (keyup.enter)="addSensor()"></ion-input>
      <button ion-button item-end color="primary" icon-only (keyup.enter)="addSensor()" (click)="addSensor()">
        <ion-icon name='add-circle'></ion-icon>
      </button>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header >
      Raspberry Pi
    </ion-list-header>
    <ion-item >
      <ion-label>{{'ipAddress' | translate:user }}</ion-label>
      <ion-input type="text" [(ngModel)]="raspi.ip"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{'port' | translate:user }}</ion-label>
      <ion-input type="number" [(ngModel)]="raspi.port"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header >
      {{'server' | translate:user }}
    </ion-list-header>
    <ion-item >
      <ion-label>{{'ipAddress' | translate:user }}</ion-label>
      <ion-input type="text" [(ngModel)]="settings.serverAddress.ip"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{'port' | translate:user }}</ion-label>
      <ion-input type="number"  [(ngModel)]="settings.serverAddress.port"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Share your data</ion-label>
      <ion-checkbox [(ngModel)]="settings.isDataShared" item-end item-end (keyup.enter)="setPositionCheckboxValue()" (click)="setPositionCheckboxValue()"></ion-checkbox>

    </ion-list-header>
    <ion-item *ngIf="settings.isDataShared">
      <ion-label>{{ 'position' | translate:user }}</ion-label>
      <ion-checkbox [(ngModel)]="isPositionShared" item-end (keyup.enter)="getPosition()" (click)="getPosition()"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-row>
    
  </ion-row>
  <div float-right padding-left>
    <button ion-button block (click)="doConfirm()">{{'submit' | translate:user }}</button>
  </div>
  <div float-right>
    <button ion-button block (click)="ionViewDidLoad()">{{'reset' | translate:user }}</button>
  </div>
</ion-list>
   


</div>
    <div [ngSwitch]="activeSegment">
        <ion-list *ngSwitchCase="'Clear_SKY_2_0'" >
       
         
      </ion-list>
          </div>

</ion-content>