<ion-header>
    <ion-navbar>
      <ion-title>
        Ionic Blank
      </ion-title>
      <button ion-button (click) = "openChartModal('pm10','µg/m^3','#046bfe', PMS1_0,PMS2_5)" icon-start large round color="dark"></button>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
      <ion-list >
          <ion-list-header>
              <ion-label>PMS1_0</ion-label>
            </ion-list-header>
          <ion-item *ngFor="let pms1_0 of PMS1_0">
            {{pms1_0}}
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
      <ion-list >
            <ion-list-header>
                <ion-label>PMS2_5</ion-label>
              </ion-list-header>
            <ion-item *ngFor="let pms2_5 of PMS2_5">
              {{pms2_5}}
            </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
          <ion-list >
              <ion-list-header>
                  <ion-label>gazPPM</ion-label>
                </ion-list-header>
              <ion-item *ngFor="let gazppm of gazPPM">
                {{gazppm}}
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col>
          <ion-list >
                <ion-list-header>
                    <ion-label>Temperature</ion-label>
                  </ion-list-header>
                <ion-item *ngFor="let temp of temperature">
                  {{temp}}
                </ion-item>
            </ion-list>
          </ion-col>
          <ion-col>
              <ion-list >
                  <ion-list-header>
                      <ion-label>humidity</ion-label>
                    </ion-list-header>
                  <ion-item *ngFor="let hum of humidity">
                    {{hum}}
                  </ion-item>
                </ion-list>
              </ion-col>
              <ion-col>
              <ion-list >
                    <ion-list-header>
                        <ion-label>Micro</ion-label>
                      </ion-list-header>
                    <ion-item *ngFor="let mic of micAnalog">
                      {{mic}}
                    </ion-item>
                </ion-list>
              </ion-col>
              <ion-col>
                  <ion-list >
                      <ion-list-header>
                          <ion-label>Pressure</ion-label>
                        </ion-list-header>
                      <ion-item *ngFor="let press of Pressure">
                        {{press}}
                      </ion-item>
                    </ion-list>
                  </ion-col>
                  <ion-col>
                  <ion-list >
                        <ion-list-header>
                            <ion-label>Altitude</ion-label>
                          </ion-list-header>
                        <ion-item *ngFor="let alt of altitude">
                          {{alt}}
                        </ion-item>
                    </ion-list>
                  </ion-col>
                  <ion-col>
                      <ion-list >
                          <ion-list-header>
                              <ion-label>Batterie</ion-label>
                            </ion-list-header>
                          <ion-item *ngFor="let batt of lvlBattery">
                            {{batt}}
                          </ion-item>
                        </ion-list>
                      </ion-col>
                   
      
    </ion-row>
      </ion-grid>
    
  </ion-content>
  
