<ion-header>
    <ion-navbar >
      <ion-title>
        Bluetooth
      </ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content padding>
    <button ion-button full class="submit-button" (click)="listPairedDevices()">
      <ion-icon name="refresh"></ion-icon>&nbsp;Refresh Bluetooth Devices</button>
    <ion-row>
      <ion-col>
        <ion-list radio-group [(ngModel)]="this.bluetoothProvider.pairedDeviceID" *ngIf="this.bluetoothProvider.listToggle">
          <ion-item *ngFor="let i of this.bluetoothProvider.pairedList;let j=index">
            <ion-label>{{i.name}}</ion-label>
            <ion-radio value="{{j}}" ></ion-radio>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <button ion-button full class="submit-button" *ngIf="this.bluetoothProvider.listToggle" (click)="selectDevice()">
      <ion-icon name="bluetooth"></ion-icon>&nbsp;Connect Bluetooth Devices</button>

    <button ion-button full class="submit-button" (click)="deviceDisconnected()">
        deviceDisconnected
      </button>
      <ion-label>{{this.bluetoothProvider.connected}}</ion-label>

  </ion-content>