<ion-content >
  <!-- Welcome -->
  <ion-slides #slides pager (ionSlideWillChange)="onSlideChangeStart($event)">
    <ion-slide> 
      <img src="assets/imgs/slides/slide11.jpg" class="slide-image"/>
      <h2 class="slide-title">{{'title_slide1' | translate:user }}</h2>
      <p [innerHtml]="'text_slide1' | translate:user "></p>
    </ion-slide>

    <!-- Setting up the Raspberry Pi -->
    <ion-slide> 
      <img src="assets/imgs/slides/setup-rpi.gif" class="slide-image"/>
      <h2 class="slide-title">{{'title_slide2' | translate:user }}</h2>
      <p [innerHtml]="'text_slide2' | translate:user">{{'text_slide2' | translate:user }}</p>
    </ion-slide>

    <!-- Setting up the sensors -->
    <ion-slide>
      <img src="assets/imgs/slides/slide2.jpg" class="slide-image"/>
      <h2 class="slide-title">{{'title_slide3' | translate:user }}</h2>
      <p [innerHtml]="'text_slide3' | translate:user">{{'text_slide3' | translate:user }}</p>
      <!-- <p>For an out-of-the-box solution, use the following sensors :</p> -->
      <ion-list>
        <ion-item *ngFor="let s of sensorsList">
            <ion-toggle item-start [(ngModel)]="s.checked" ></ion-toggle>
            <ion-label>{{s.name}}</ion-label>
            <a button href="{{s.help}}" clear item-end><ion-icon name="build"></ion-icon></a>
        </ion-item> 
       
      </ion-list>
      <!-- <p>A minimal amount of coding is necessary if you wish to add differents sensors, but we’ll be glad to help at https://github.com/capteurPollutions/Embedded.</p> -->
    </ion-slide>

    <!-- Setting up ClearSky -->
    <ion-slide>
      <img src="assets/imgs/slides/slide3.jpg" class="slide-image"/>
      <h2 class="slide-title">{{'title_slide4' | translate:user }}</h2>
      <p [innerHtml]="'text_slide4' | translate:user"></p>
    </ion-slide>

    <!-- partage des données (+système ID) -->
    <ion-slide>
      <img src="assets/imgs/slides/slide1.jpg" class="slide-image"/>
      <h2 class="slide-title">{{'title_slide5' | translate:user }}</h2>
      <ion-toggle class="center" [(ngModel)]="initialSettings.isDataShared"></ion-toggle>
      <p [innerHtml]="'text_slide5' | translate:user"></p>
    </ion-slide>

    <!-- adresse serveur central -->
    <ion-slide>
      <img src="assets/imgs/slides/slide21.jpg" class="slide-image"/>
      <h2 class="slide-title">{{'title_slide6' | translate:user }}</h2>
      <p [innerHtml]="'text_slide6' | translate:user"></p>
      <button ion-button round (click)="DefineIpAddressDialog('Server', 'server_ip')">{{'server' | translate:user }}</button>
    </ion-slide>

    <!-- Ip addresse of Raspberry-->
    <ion-slide>
      <img src="assets/imgs/slides/slide31.jpg" class="slide-image"/>
      <h2 class="slide-title">{{'title_slide7' | translate:user }}</h2>
      <button ion-button round (click)="DefineIpAddressDialog('Raspberry Pi', 'rasp_ip')">Raspberry Pi</button>
    </ion-slide>
  </ion-slides>

</ion-content>

<ion-footer class="btn-footer">
    <button *ngIf="showPreviousBtn" float-left ion-button round  color="primary" class="btnPrev" (click)="prev()">{{'previous' | translate:user }}</button>
    <button *ngIf="showNextBtn" float-right ion-button round color="primary" class="btnNext" (click)="next()">{{'next' | translate:user }}</button>
    <button *ngIf="showStartBtn"  float-right ion-button round color="primary" class="auth-btn" (click)="startApp()">{{'start' | translate:user }}</button>
</ion-footer>