<ion-content >

  <!-- <ion-slides pager (ionSlideWillChange)="onSlideChangeStart($event)" [autoplay]="3000">
    <ion-slide *ngFor="let slide of slides">
      <img [src]="slide.image" class="slide-image"/>
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.description"></p>

    </ion-slide>
  </ion-slides> -->

  <!-- Welcome -->
  <ion-slides #slides pager (ionSlideWillChange)="onSlideChangeStart($event)">
    <ion-slide> 
      <img src="assets/imgs/slides/setup-rpi.gif" class="slide-image"/>
      <h2 class="slide-title">Welcome to clearSky</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> 
    </ion-slide>

    <!-- Dire à l'utilisateur de setup RPI et capteur (avec aide) -->
    <ion-slide> 
      <img src="assets/imgs/slides/setup-rpi.gif" class="slide-image"/>
      <h2 class="slide-title">First setup your Raspberry</h2>
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>  -->
      <ion-list>
        <ion-item>
          <ion-label>MQ-2</ion-label>
          <ion-checkbox color="primary" checked="false"></ion-checkbox>
        </ion-item>
      </ion-list>  
    </ion-slide>

    <!-- Demander l'addresse IP de la RPI à l'utilisateur -->
    <ion-slide>
      <img src="assets/imgs/slides/slide2.jpg" class="slide-image"/>
      <h2 class="slide-title">enter IP address of your raspberry</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> 
      <ion-input type="text" [ngModel]="initialSettings?.raspi.ipAddress"></ion-input> 
    </ion-slide>

    <!-- Informations capteurs -->
    <ion-slide>
      <img src="assets/imgs/slides/slide1.jpg" class="slide-image"/>
      <h2 class="slide-title">Sensors Informations</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>  
    </ion-slide>

    <!-- partage des données (+système ID) -->
    <ion-slide>
      <img src="assets/imgs/slides/slide3.jpg" class="slide-image"/>
      <h2 class="slide-title">Share your data with us</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> 
      <ion-toggle checked="true" [ngModel]="initialSettings?.isDataShared"></ion-toggle>
    </ion-slide>

    <!-- adresse serveur central -->
    <ion-slide>
      <img src="assets/imgs/slides/slide1.jpg" class="slide-image"/>
      <h2 class="slide-title">Server IP</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> 
      <ion-input type="text" [ngModel]="initialSettings?.server.ipAddress"></ion-input>
    </ion-slide>
  </ion-slides> 

</ion-content>
<ion-footer class="btn-footer">
  <button *ngIf="showSkip" ion-button block class="auth-btn" round (click)="startApp()">Start</button>
  <div *ngIf="!showSkip">
    <button type="submit" float-left ion-button  color="primary" class="btnPrev" (click)="prev()">Prev</button>
    <button type="submit" float-right ion-button color="primary" class="btnNext" (click)="next()">Next</button>
  </div>
</ion-footer>

